<div id="container">
    <table id="games-table">
        <tr>
            <th>Game ID</th>
            <th>Title</th>
            <th>Price</th>
            <th>Owned</th>
        </tr>
        {{range .Games}}
        <tr>
            <td>{{.ID}}</td>
            <td>{{.Title}}</td>
            <td>{{.Description}}</td>
            <td>{{.Tags}}</td>
            <td>{{.Price}}</td>
            <td>{{.Published}}</td>
            {{range .Updates}}
                <td>{{.Title}}</td>
                <td>{{.Description}}</td>
            {{end}}
        </tr>
        {{end}}
    </table>
</div>