<div id="container">
    <table id="Cart-table">
        <tr>
            <th>Cart ID</th>
            <th>Games</th>
            <th>Checkout</th>
        </tr>
        <tr>
            <td>{{.Cart.ID}}</td>
            <td>
                <table>
                    <tr>
                        <th>Game ID</th>
                        <th>Title</th>
                        <th>Price</th>
                    </tr>
                    {{range .Cart.Games}}
                    <tr>
                        <td>{{.ID}}</td>
                        <td>{{.Title}}</td>
                        <td>{{.Price}}</td>
                    </tr>
                    {{end}}
                </table>
            </td>
            <td>
                <button 
                    class="bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-600"
                    hx-post="/carts/checkout/{{.Cart.ID}}">
                    Checkout
                </button>
            </td>
        </tr>
    </table>
</div>