<div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-6">Admin Dashboard</h1>

    <div>
        <h2 class="text-2xl font-bold mb-4">All Games</h2>
        <div hx-get="/games/admin" hx-target="#games-table" hx-trigger="load">
                
        </div>
        <div id="games-table"></div>

        <h2 class="text-2xl font-bold mb-4">All Users</h2>
        <div hx-get="/users/admin" hx-target="#users-table" hx-trigger="load"></div>
        <div id="users-table"></div>
    </div>
</div>