<div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-6">My Library</h1>
    <div hx-get="/games/library" hx-target="#library-content"></div>
    <div id="library-content"></div>

</div>

<script>
    document.body.addEventListener('htmx:afterRequest', function(evt) {
        if (evt.detail.target.getAttribute('hx-get').startsWith('/library/download/')) {
            handleDownloadResponse(evt);
        }
    });

    function handleDownloadResponse(evt) {
        var libraryMessage = document.getElementById('library-message');
        if (evt.detail.succeeded) {
            var gameKey = evt.detail.xhr.responseText;
            libraryMessage.textContent = 'Download started. Game key: ' + gameKey;
            libraryMessage.classList.remove('text-red-500');
            libraryMessage.classList.add('text-green-500');
        } else {
            libraryMessage.textContent = 'Error: ' + evt.detail.xhr.responseText;
            libraryMessage.classList.remove('text-green-500');
            libraryMessage.classList.add('text-red-500');
        }
    }
</script>